<% if @post.errors.any? %>
  <div>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @post do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.label :tags %><br />
    <%= f.text_field :tags, value: @post.tags.pluck(:name).join(', ') %>
  </div>
  <%= f.submit t('edit_btn') %>
<% end %>
