<section class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to post_path(post) do %>
        <h1><%= post.title.truncate(40) %></h1>
      <% end %>
      <%= link_to post_path(post) do %>
        <p><%= post.content.truncate(212) %></p>
      <% end %>
      <div class="tags">
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag), class: "tag" %>
        <% end %>
      </div>
      <%= l post.created_at.to_date, format: :short %>,
      <%= post.user.name %>
    </div>
  <% end %>
  <%= paginate @posts, window: 1, outer_window: 0, left: 1, right: 1 %>
</section>
