<section class="search">
  <%= form_with url: search_tags_path, method: :get, class: "search" do |form| %>
    <%= form.text_field :query, placeholder: t("search_placeholder"), class: "search-term" %>
    <button type="submit" class="search-button">
      <img width="30" height="30" src="https://img.icons8.com/ios/50/FFFFFF/search--v1.png" alt="search--v1"/>
    </button>
  <% end %>
</section>

<section class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to post_path(post) do %>
        <h1><%= post.title.truncate(40) %></h1>
      <% end %>
      <%= link_to post_path(post) do %>
        <p><%= post.content.truncate(212) %></p>
      <% end %>
      <div class="tags">
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag), class: "tag" %>
        <% end %>
      </div>
      <%= l post.created_at.to_date, format: :short %>,
      <%= post.user.name %>
    </div>
  <% end %>
  <%= paginate @posts, window: 1, outer_window: 0, left: 1, right: 1 %>
</section>
