<%= render "errors", post: @post %>

<%= form_with model: @post do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %><br />
    <%= f.text_area :content, rows: 5 %>
  </div>
  <div>
    <%= f.label :tags %><br />
    <%= f.text_field :tags, value: @post.tags.pluck(:name).join(', '), placeholder: 'tag1, tag2, tag3' %>
  </div>
  <%= f.submit t('posts.post_btn') %>
<% end %>

<%= form_with url: posts_upload_path do |f| %>
  <%= f.file_field :file, accept: '.txt', class: 'upload-file' %>
  <%= f.label :file, t('upload_file') %>
  <%= f.submit t('upload_btn'), hidden: true, class: 'upload-submit' %>
<% end %>

<script>
  document.querySelector('.upload-file').addEventListener('change', function() {
    document.querySelector('.upload-submit').click();
  });
</script>