<h1><%= @post.title %></h1>

<% if current_user == @post.user %>
  <%= link_to t('edit_btn'), edit_post_path(@post) %>
  <%= button_to t('delete_btn'), post_path(@post), method: :delete %>
<% end %>

<p><%= @post.user.name %></p>
<p><%= @post.content %></p>

<%= form_with model: [@post, @comment] , method: :post do |form| %>
  <%= form.text_area :message, placeholder: (Comment.model_name.human) %><br />
  <%= form.submit t 'comments.comment_btn' %>
<% end %>

<% @post.comments.each do |comment| %>
  <p><%= comment.user ? comment.user.name : t('anonymous') %>
  <p><%= comment.message %></p>
<% end %>
