<section class="post">
  <div class="post-header">
    <h1><%= @post.title %></h1>

    <div class="post-actions">
      <% if current_user == @post.user %>
        <%= button_to t('delete_btn'), post_path(@post), method: :delete %>
        <%= button_to t('edit_btn'), edit_post_path(@post), method: :get %>
      <% end %>
      <%= button_to t('back_btn'), posts_path, method: :get %>
    </div>
  </div>

  <div class="post-content">
    <%= @post.content %>
  </div>

  <div class="post-tags">
    <% @post.tags.each do |tag| %>
      <span class="tag"><%= tag.name %></span>
    <% end %>
  </div>

  <div class="post-footer">
    <%= l @post.created_at.to_date, format: :short %>,
    <%= @post.user.name %>
  </div>
</section>

<section class="comments">
  <div class="comment-form">
    <%= form_with model: [@post, @comment] , method: :post do |form| %>
      <%= form.text_area :message, placeholder: (Comment.model_name.human) %><br />
      <%= form.submit t 'comments.comment_btn' %>
    <% end %>
  </div>

  <% if @post.comments.any? %>
    
    <div class="comments-list">
      <h3><%= Comment.model_name.human(count: @post.comments.count) %></h3>
      <% @post.comments.each do |comment| %>
        <div class="comment">
          <div class="comment-message">
            <%= comment.message %>
          </div>
          <div class="comment-footer">
            <%= comment.user ? comment.user.name : t('anonymous') %>, 
            <%= l comment.created_at.to_date %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
