<section class="post">
  <h1><%= @post.title %></h1>
  <p><%= @post.content %></p>

  <div class="tags">
    <% @post.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag), class: "tag" %>
    <% end %>
  </div>

  <div class="post-footer">
    <%= l @post.created_at.to_date, format: :short %>,
    <%= @post.user.name %>

    <div class="post-actions">
      <% if current_user == @post.user %>
        <%= button_to t('delete_btn'), post_path(@post), method: :delete %>
        <%= button_to t('edit_btn'), edit_post_path(@post), method: :get %>
      <% end %>
    </div>
  </div>
</section>

<section class="comments">
  <div class="comment-form">
    <%= form_with model: [@post, @comment] , method: :post do |form| %>
      <%= form.text_area :message, placeholder: t('comments.comment_placeholder') %>
      <%= form.submit t 'comments.comment_btn' %>
    <% end %>
  </div>

  <% @post.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.message %></p>
      <p><%= comment.user ? comment.user.name : t('anonymous') %>, <%= l comment.created_at.to_date %></p>
    </div>
  <% end %>
</section>
