<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <h1><%= link_to 'Blog', root_path %></h1>
        <div class="nav-links">
          <% if user_signed_in? %>
            <%= link_to t('create_post'), new_post_path %>
            <%= link_to current_user.name.split.first, user_path(current_user) %>
            <%= button_to t('log_out'), destroy_user_session_path, method: :delete, class: 'button' %>
          <% else %>
            <%= link_to t('sign_in'), new_user_session_path %>
            <%= link_to t('sign_up'), new_user_registration_path %>
          <% end %>
        </div>
      </nav>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
